.App {
  position: relative;
}

.todolist {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  background-color: #fcf2de;
  border: 5px solid #8dc5d4;
  padding: 20px 90px;
}

.input {
  margin-bottom: 10px;
}

.button {
  color: #2f6977;
  background-color: #8dc5d4;
  border: 0;
  border-radius: 40%;
  font-weight: bold;
  font-family: 'cwTeXYen', '微軟正黑體', 'Courier New', Courier, monospace;
  cursor: pointer;
}

.filter {
  display: inline;
  border: 0;
  cursor: pointer;
  margin: 3px;
  background-color: #f8c971;
  color: #785714;
  font-weight: bold;
  font-family: 'cwTeXYen', '微軟正黑體', 'Courier New', Courier, monospace;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  margin-top: 15px;
  border: 3px solid #8dc5d4;
  padding: 10px 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem.completed .listItemContent {
  color: #f8c971;
}

.listItemState {
  display: flex;
  margin-right: 10px;
  font-weight: bold;
  color: #2f6977;
  background-color: #8dc5d4;
  border-radius: 50%;
  padding: 0.5px 2.5px;
  /* position: absolute;
  left:0; */
}

.listItemContent {
  display: flex;
  color: #785714;
  font-weight: bold;
  font-family: 'cwTeXYen', '微軟正黑體', 'Courier New', Courier, monospace;
}

.listItemButton {
  display: flex;
  /* position: absolute;
  right: 0; */
}

.listItemDelete {
  color: #2f6977;
  background-color: #8dc5d4;
  border: 0;
  border-radius: 50%;
  font-weight: bold;
  font-family: 'cwTeXYen', '微軟正黑體', 'Courier New', Courier, monospace;
  cursor: pointer;
}

.listItemAction {
  color: #2f6977;
  background-color: #8dc5d4;
  border: 0;
  border-radius: 40%;
  font-weight: bold;
  font-family: 'cwTeXYen', '微軟正黑體', 'Courier New', Courier, monospace;
  cursor: pointer;
}